body {
  margin: 0 0 0 0;
  padding: 0px;
  font-family: sans-serif;
}

/*-------BAND HEADER--------*/
header {
  margin: 0;
  padding: 0;
}

.band-header {
  width: 100%; /* Let it fill the entire space horizontally */
}

/*-------NAV BAR---------*/

.navbar ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  
    text-align: center;
} 

.navbar li {
    display: inline-block;
    padding: 0 50px; 
}
.navbar li a {
    color: #d09c2d;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Coda Caption', sans-serif;
}
.navbar li a:hover {
    color: #8c271e;
}

.band-summary {
  margin: 0 auto;
  width: 60%;
  padding: 25px 25px;
}

/* index.html styling */
.index-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;
}

#mini-tour {
  border: 2px solid #ABA194;
  background-color: #CFCBCA;
  padding: 10px;
  width: 40%;
}

#mini-tour h1 {
  border-bottom: 2px solid #ABA194;
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
}

.itemForMiniTour {
  display: block;
  border-bottom: 1px solid #ABA194;
  text-align: center;
}

.itemForMiniTour:last-child {
  display: block;
  border-bottom: none;
}

.itemForMiniTour:hover {
  background-color: #fff;
  color: #8C271E;
}

.firstMiniTourDiv,
.secondMiniTourDiv,
.thirdMiniTourDiv,
.fourthMiniTourDiv {
  display: inline-block;
  padding: 7px;
}

.contact-form {
  border: 2px solid #ABA194;
  padding: 10px;
  background-color: #CFCBCA;
  margin: 0 40px 0 40px;
  width: 40%;
}

fieldset {
  margin-bottom: 10px;
  border: 1px solid #ABA194;
}

input {
  width: 100%;
  height: 22px;
  margin-bottom: 10px;
  font-size: 18px;
}

textarea {
  width: 100%;
  font-size: 18px;
}

.contact-main-label {
  font-family: 'Coda Caption', sans-serif;
  font-size: 20px;
  text-align: center;  
  color: #8c271e;
  margin-bottom: 10px;
  display: block;
}

.contact-form button {
  margin-left: 2px;
  font-size: 18px;
  padding: 8px;
}

.contact-form button:hover {
  background-color: #D09C2D;
}

/*-----------------TOUR SCHEDULE-------*/
h1 {
  font-family: 'Coda Caption', sans-serif;
  font-size: 40px;
  text-align: center;  
  color: #8c271e;
}

.event-header {
  font-weight: 800;
  font-size: 1.3em;
  font-family: 'Coda Caption', sans-serif;

}
.event-header, .events {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  border-bottom: 1px solid #ABA194;
  width: 80%;
  margin: 0 auto;
}
.events {
  font-family: sans-serif;
  font-size: 18px;
}
.date, .state, .time {
  width: 10%;  
}
.city, .venue, .tickets {
width: 20%;
}
.events button:hover {
 background-color: grey;
}
.events button{
  margin-top: 12px;
}

/*-------------FOOTER---------------*/

footer {
  bottom: 0;
  height:30px;
  width:100%;
  margin-top: 50px;
  padding-bottom: 15px;
  padding-top: 5px;
  background-color: #d09c2d;
}

footer p {
  text-align: right;
  margin-right: 10px;
}

/* --------------------MERCH PAGE---------------------- */
#merch-here,
.merch-page-container {
  width: 95%;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
}

.merch-page-container h1 {
  font-family: 'Coda Caption', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #8C271E;
}

.merch-page-container p {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}


.merch-card {
  background-color: #CFCBCA;
  border: 5px solid #ABA194;
  width: 27%;
  margin: 3% 1%;
  padding: 6px;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
}

.merch-card img {
  max-width: 95%;
}

.merch-card select {
  display: block;
  margin: 10px auto;
}

.merch-card button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.merch-card button:hover {
  background-color: #8C271E;
  color: white;
}

.merch-card h3,
.merch-card h4 {
  font-family: 'Coda Caption', sans-serif;
}
  
/* SONG LIST STYLING */

.individual-song-container, .song-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 40px;
}

.songID, .song-duration {
  width: 10%;
}

.song-name, .album-name,.audio-element {
  width: 25%;
}

.song-header{
  background-color: #8C271E;
}

article.individual-song-container:nth-child(odd), audio:nth-child(odd) {
  background-color: #CFCBCA;
}

article.individual-song-container:nth-child(even), audio:nth-child(even){
  background-color: #fff;
}

audio {
  margin-top: 10px;
}

#song-container {
  font-family: 'Coda Caption', sans-serif;
  border: 10px solid #aba194;
  background-color: #cfcbca;
  width: 90%;
  margin: 50px 70px;
  box-shadow: 3px 3px 10px #aba194; 
}

/*------------BAND MEMBERS---------------*/
#band-member-holder {
  text-align: center;
  width: 100%;
}

.band-container {
  display: inline-block;
  vertical-align: top;
  font-family: 'Coda Caption', sans-serif;
  border: 10px solid #aba194;
  background-color: #cfcbca;
  height: 700px;
  width: 325px;
  margin: 50px 70px;
  align-items: center;
  box-shadow: 3px 3px 10px #aba194; 
}

.band-border-photo {
  background-image: url("/images/member-border.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;

}
.band-container h1 {
  padding-top: 25px;
}
.band-container h2 {
  text-align: center;
  font-size: 24px;
}

.band-container p {
  text-align: left;
  vertical-align: text-bottom;
  padding-left: 10px;
  font-size: 16px;
  font-family: sans-serif;

}

.band-photo {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin-top: 25px; 
}

/* SUCK IT STYLING */

img#cross {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

#suckIt-Container {
  background-color: black;
}