body {
  margin: 0 0 100px 0;
  padding: 0px;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
}

.band-header {
  flex: 0 0 100%; /* Let it fill the entire space horizontally */
  height: 300px;
}

.band-summary {
  margin: 0 auto;
  width: 60%;
  padding: 25px 25px;
}

/* index.html styling */
.index-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;
}

#mini-tour {
  border: 2px solid #ABA194;
  background-color: #CFCBCA;
  padding: 10px;
  width: 40%;
}

#mini-tour h1 {
  border-bottom: 2px solid #ABA194;
  margin-bottom: 0px;
  text-align: center;
}

.itemForMiniTour {
  display: block;
  border-bottom: 1px solid #ABA194;
  text-align: center;
}

.itemForMiniTour:last-child {
  display: block;
  border-bottom: none;
}

.itemForMiniTour:hover {
  background-color: #fff;
  color: #8C271E;
}

.firstMiniTourDiv,
.secondMiniTourDiv,
.thirdMiniTourDiv,
.fourthMiniTourDiv {
  display: inline-block;
  padding: 10px;
}

.contact-form {
  border: 2px solid #ABA194;
  padding: 10px;
  background-color: #CFCBCA;
  margin: 0 40px 0 40px;
  width: 40%;
}

fieldset {
  margin-bottom: 10px;
  border: 1px solid #ABA194;
}

input {
  width: 100%;
  height: 22px;
  margin-bottom: 10px;
  font-size: 18px;
}

textarea {
  width: 100%;
  font-size: 18px;
}

.contact-form button {
  margin-left: 2px;
  font-size: 18px;
  padding: 8px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  padding-bottom: 15px;
  background-color: yellow;
}

footer p {
  text-align: right;
  margin-right: 10px;
}

